@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .card .imgBox,
.container .card .textBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container .card .imgBox {
  background: #fff;
  height: 120px;
  z-index: 1;
  transform-origin: bottom;
}

.container .card:hover .imgBox {
  transform: translateY(-100%) rotateX(90deg);
}

.container .card .textBox {
  height: 280px;
  background: var(--clr);
  border-top: 8px solid #333;
  transform-origin: top;
  transition-delay: 0.5s;
}

.container .card:hover .textBox {
  transform: translateY(100%) rotateX(90deg);
}

.container .card .imgBox::before {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 144px;
  height: 74px;
  background: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 1;
}

.container .card .textBox::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 160px;
  height: 80px;
  background: #333;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
