* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  min-height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  top: 0;
  background: #fff;
}

.star::before {
  content: "\f005";
  font-family: fontAwesome;
}
