* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  min-height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  top: 0;
  color: #fff;
  animation: animate 5s linear infinite;
}

.star::before {
  content: "\f005";
  font-family: fontAwesome;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 50px #fff;
}
