* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #9c27b0;
}

.loader {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
}

.loader span {
  position: absolute;
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 5px 0 #ccc, inset 0 5px 0 #ccc;
  box-sizing: border-box;
}
