* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001f25;
  min-height: 100vh;
}

.loader {
  position: relative;
  transform: rotate(calc(90deg * var(--j))) scale(0.75);
  /* transform: rotate(calc(45deg * var(--j))); */
}

.loader span {
  position: absolute;
  top: 0;
  /* left: -200px; */
  /* left: 0px; */
  left: 0px;
  width: 200px;
  height: 2px;
  transform-origin: right;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ebff;
  animation: animate 2s linear infinite;
  animation-delay: calc(-0.1s * var(--i));
  box-shadow: 0 0 10px #00ebff, 0 0 20px #00ebff, 0 0 40px #00ebff,
    0 0 60px #00ebff, 0 0 80px #00ebff, 0 0 100px #00ebff;
}

@keyframes animate {
  0% {
    transform: translateX(200px) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(0);
    opacity: 0;
  }
}
