@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #2196f3, #ff4685);
}

.container {
  position: relative;
  padding: 50px;
  background: #fff;
  box-shadow: -55px -55px 0 rgba(0, 0, 0, 0.05);
}

.container::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 20px;
  height: 100%;
  background: #ccc;
  transform: skewY(45deg);
  transform-origin: bottom right;
}

.container::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  width: 100%;
  background: #eee;
  transform: skewx(45deg);
  transform-origin: bottom right;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
}

.container .inputBox {
  position: relative;
  width: 300px;
  margin-top: 40px;
}

.container .inputBox input {
  position: relative;
  padding: 8px 10px;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 2;
}

.container .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  font-size: 1em;
  transition: 0.5s;
  letter-spacing: 0.1em;
  color: #777;
  text-transform: uppercase;
}

.container .inputBox input:valid ~ span,
.container .inputBox input:focus ~ span {
  color: #333;
  font-size: 0.85em;
  transform: translateY(-32px);
}

.container .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(45deg, #2196f3, #ff4685);
  transform-origin: 0.5s;
  pointer-events: none;
  z-index: 1;
}

.container .inputBox input:valid ~ i,
.container .inputBox input:focus ~ i {
  height: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.container .links {
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.container .links a {
text-decoration: none;
color: #2196f3;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 0.1em;
font-size: 0.75em;
}

.container .links a:nth-child(2) {
color: #ff4685;
}

.container .inputBox input[type="submit"] {
background: #2196f3;
cursor: pointer;
font-weight: 600;
}