* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
  /* background: #1bb96a; */
  
}

#container {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
#container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(watermelon.jpg);
  /* background: url(fingerPrint_02.png); */
  background-size: cover;
  /* background-size: contain; */
  transition: 0.5s;
  z-index: calc(1 + var(--i));
}

#container:hover span {
  transform: rotate(-30deg) skew(25deg) translateX(calc(1.5px * var(--i)))
    translateY(calc(-1.5px * var(--i)));
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.05);
}

#container:hover span:last-child {
  box-shadow: -50px 50px 0 rgba(0, 0, 0, 0.05);
}
