@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.container .card {
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  overflow: hidden;
}

.container .card:hover {
  height: 420px;
}

.container .card .imgBox {
  position: relative;
  width: 100%;
  height: 260px;
  background: var(--img);
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  filter: blur(25px);
}

.container .card:hover .imgBox {
background-size: 110%;
filter: blur(0px);
}

.container .card .imgBox::before {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  background: #fff;
}

.container .card .imgBox::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 80px;
  height: 80px;
  background: transparent;
  /* background: #0f0; */
  border-radius: 50%;
  box-shadow: 75px 70px 0 40px #fff;
}

.container .card .content {
  position: relative;
  top: -40px;
  z-index: 10;
  padding: 0 30px;
  transition: 0.5s;
}

.container .card .content h3 {
  position: relative;
  font-size: 1.25em;
  color: #333;
}

.container .card .content h3 span {
  position: absolute;
  bottom: -15px;
  font-weight: 400;
  font-size: 0.65em;
  opacity: 0.75;
}

.container .card .content p {
  position: relative;
  opacity: 0;
  transition: 0.5s;
  color: #333;
}

.container .card:hover .content p {
  opacity: 1;
}
