@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-size: 12vw;
  line-height: 1em;
  font-weight: 800;
  color: #333;
  text-transform: uppercase;
}

i {
  position: absolute;
  display: block;
  background: #000;
}
