* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.sec .box {
  position: relative;
  width: 40px;
  height: 40px;
  background: #222;
}
