@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#444, #222);
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
}

.card .rating .block {
  position: absolute;
  width: 2px;
  height: 15px;
  background: #000;
  left: 50%;
  transform-origin: 50% 100px;
  transform: rotate(25deg);
}
