body {
  background: url("01_Transparent Login Form/img.jpg") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
