* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.light {
  position: relative;
  width: 200px;
  height: 500px;
  height: 500px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
