* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #ffee5a;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .arrow {
  position: absolute;
  width: 100px;
  height: 70px;
  background: url(arrow.png);
  scale: 0.75;
}

.container .arrow:nth-child(even) {
  filter: grayscale(1) contrast(2);
}
